body {
    font-family: "raleway";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "raleway";
}


p {
    color: #8f8f8f;
}

/* headings */
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    padding: 0 0 4.5rem;
    font-family: "raleway"; 
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.5rem;
    padding:  0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "raleway";
    font-weight: light;

}

/* title section  */
#title {
    background-color: #206A5D;
    color: #fff;
    text-align: left;

}

#title .container-fluid {
    padding: 3% 7% 15%;
}
.title-image {
    width: 15%;
    z-index: 0; 
    position: absolute;
    right: 30%;
}

/* about section */

#about {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.about-box {
    padding: 5%;

}

.about-title {
    line-height: 1.5;
}

.icon-about {
    padding-bottom: 7%;
    color: #206A5D;
}

.icon-about:hover {
    color: #1C8875;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: #309e8a;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #309e8a;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    height: 500px;
    padding: 7% 15%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
